
.tittop span:nth-child(1){
    width: 25%;

}
.tittop span:nth-child(2){
    width: 15%;

}
.tittop span:nth-child(3){
    width: 15%;

}
.tittop span:nth-child(4){
    width: 20%;

}
.tittop span:nth-child(5){
    width: 23%;

}
.tittop span{
    display: inline-block;
}
.tittop{
    background: #e7e7e7;
    color: #333;
    font-size: 16px;
    height: 42px;
    line-height: 42px;
    padding: 0 20px;
}

.titcon span{
display: inline-block;
}
.titcon span:nth-child(1){
    width: 25%;

}
.titcon span:nth-child(2){
    width: 15%;

}
.titcon span:nth-child(3){
    width: 15%;

}
.titcon span:nth-child(4){
    width: 20%;

}
.titcon span:nth-child(5){
    width: 23%;

}
.dec{
    padding: 0 20px;
    background: #fff;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    /* overflow: hidden; */
}
.titcon:nth-child(even) .dec{
    background-color: #f6f6f6;
}
.titcon:last-child{
    margin-bottom: 25px;
}
.dec::after{
    content: '';
    position: absolute;
    top: 50%;
    right: 30px;
    width: 21px;
    height: 21px;
    margin-top: -10.5px;
    background: url(../img/contact1_icon.png) no-repeat;
}
.dec.im::after{
    background: url(../img/contact1_iconC.png) no-repeat;
}
.none{
    overflow: hidden;
    /* padding: 0 20px; */
    height: 0px;
    overflow: hidden;
    display: none;
    transition:  all 1s ease-in;

}
.content .titcon .none.blo  {
    display: block !important;
    height: 150px;
    transition: all 1.5 ease-in 200;
}
.none p{
    margin: 15px 0;
    font-size: 13px;
    color: #000;
    line-height: 20px;
}